<a href="https://colab.research.google.com/github/twongz/PYTH225_Homework/blob/master/Copy_of_Copy_of_loop_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LOOPS

## BASICS

### P1.PY

In [0]:
"""
Odds & Evens
"""

# Use a loop to make a list of all odd numbers between 1 and 10 and another list with all the evens. When done, print the lists.

# odds = 
odds = []
# evens = 
evens = []
numbers = list(range(1,11))
print(numbers)
for x, i in enumerate(numbers):
  if x % 2 == 0: 
    odds.append(i)
  else:
    evens.append(i)
print(str(evens))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]



### P2.PY

In [0]:
"""
Lists with Duplicates
"""

# First, print list a below as it is now.

a = [2, 4, 10, 20, 5, 2, 20, 4]
b = [13, 2, 25, 20, 4, 8]
new_list = []

for number_in_a in a:
	if number_in_a not in new_list:
		new_list.append(number_in_a)
		

print(sorted(new_list)) 
# Using a loop, remove the duplicate items from list a and print out the updated list.


# Using a loop, merge list b into list a without adding any duplicates.
for number_in_b in b:
	if number_in_b not in new_list:
		new_list.append(number_in_b)
			


print(sorted(new_list))

[2, 4, 5, 10, 20]
[2, 4, 5, 8, 10, 13, 20, 25]



### P3.PY

In [0]:
"""
Temperature Conversions
"""

# You're studying climate change, and over the last 3 years, you've recorded the temperature at noon every day in degrees Fahrenheit (F). The var sampleF holds a portion of those recordings. 

sampleF = [71.6, 82.4, 91.4, 107.6, 125.6]

# Convert each item in this list into degrees Celsius and add the results to a dict called sample_temps so that the conversion of each day's temperature is easily accessible. For reference, the conversion equation between F and C is:
# Celsius = (Fahrenheit - 32) * 5.0/9.0


# sample_temps = 
sample_temps = {

	}

for f in sampleF:
	c = (f - 32) * 5.0/9.0
	sample_temps[f] = c

	
print(sample_temps)

print("\n")

for f, c in sample_temps.items():
	print("F:", f, ":", "C:", c )

{71.6: 21.999999999999996, 82.4: 28.000000000000004, 91.4: 33.0, 107.6: 42.0, 125.6: 52.0}


F: 71.6 : C: 21.999999999999996
F: 82.4 : C: 28.000000000000004
F: 91.4 : C: 33.0
F: 107.6 : C: 42.0
F: 125.6 : C: 52.0

### P4.PY

In [0]:
"""
Control Flow - I

Print the numbers in some range until you find a multiple of 7. 
At that point, print "___ is the first multiple of 7 in this 
range." If the range does NOT include any multiples of 7, after 
you've printed the last number in the range, print "There are 
no multiples of 7 in this range.
"""
numbers = list(range(165454,195465))

first_number = []

for number in numbers:

	if number % 7 == 0:
		first_number.append(number)
		print(number, "is the first multiple of 7 in this range")
		break

if len(first_number) == 0:
	print("There are no multiples of 7 in this range.")

165459 is the first multiple of 7 in this range



### P5.PY

In [0]:
"""
Control Flow II

Write a Python program that prints all the numbers from 
0 to 6 except 3 and 6. Note: Use a 'continue' statement. 
"""
numbers = list(range(0,7))

for number in numbers:
	if number == 3:
		continue
	elif number == 6:
		continue
	else:
		print(number)

0
1
2
4
5

## FACTORS



### P1.PY

In [3]:
"""
Factorial
"""

# Find the factorial of a number input by a user. Then print out the factors within the factorial and then print out the actual numeric answer. Hint: The formula for a factorial is n! = (n-1)*n.


# Example output:
"""
8! = 8*7*6*5*4*3*2*1
8! = 40320
"""

user_input = int(input('Enter a number to find its factorial: '))

fac = 1
if (user_input == 0) | (user_input == 1):
   print("The factorial of 0 and 1 is always 1")

else:
   factors = []
   for i in range(1, user_input + 1):  # We need to add 1 (it is not inclusive)
     fac = fac * i
     factors.append(i)

descending = sorted(factors, reverse = True)
descending_no_comma = '*'.join(map(str, descending))
print(f"The factorial of {user_input} is {fac} and the elements are {user_input}! = {descending_no_comma}.")

Enter a number to find its factorial: 2
The factorial of 2 is 2 and the elements are 2! = 2*1.



### P2.PY

In [0]:
"""
Factors
"""

# Find all factors of a number that a user inputs and print out 'The factors of <the_user_input_number> are: '.

user_input = input('Enter a number to find its factors: ')


try:
	number = int(user_input)
		
	for i in range(1, number + 1):
		if number % i == 0:
			print(i)	
except:
	print("You must enter an interger")



### P3.PY

In [4]:
"""
GCD
"""

# Find the greatest common denominator (GCD) of two number input by a user. Then print out 'The GCD of <first number> and <second number> is <your result>.'

print('Enter two numbers to find their greatest common denominator.')

user_input1 = input('First number: ')
user_input2 = input('Second number: ')


try:

	user_input1 = int(user_input1)

	user_input2 = int(user_input2)

	# print(type(user_input1))

	# print(type(user_input2))


	while user_input1 > 0:
		if user_input2 % user_input1 == 0:
			print(user_input1, "is the GCD")
			break
		user_input1 -= 1

except:
	print("Both inputs must be integers")

Enter two numbers to find their greatest common denominator.
First number: 1
Second number: 2
1 is the GCD

In [0]:
a = 15
b = 12

factos_a = []
for i in range(1, a+1):
	 if a % 1 == 0:
		 factors_a.append(i)


factors_b = []
for j in range(1, b+1):
	if b % j == 0:
		facrots_b.append(j)
	
print(factors_a)
print(factors_b)


set_a = set(factors_a)
set_b = set(factors_b)
print(set_a, set_b)
intersect = set_b.interesction(set_a)
print(list(intersect).pop())

ERROR! Session/line number was not unique in database. History logging moved to new session 62

NameError: ignored

## SHAPES

### P1.PY

In [0]:
"""
Build a Triangle I 

Use a FOR loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""
stars = []

for i in range(0, 6):
  stars.append('*')
  print(''.join(stars))

### P2.PY

In [5]:
"""
Build a Triangle II

Use a WHILE loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""
i = 1
stars = []

while i < 6:
  stars.append("*")
  print(''.join(stars)) 
  i = i + 1

*
**
***
****
*****



### P3.PY

In [7]:
"""
Build a Pyramid I

Use a FOR loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""

max_ = 9

for i in range(1, 10, 2):
  diff = int((max_ - i) / 2)
  spaces = [" "] * diff
  stars = ["*"] * i
  print("".join(spaces) + "".join(stars) + "".join(spaces))

    *
   ***
  *****
 *******
*********

### P4.PY

In [8]:
"""
Build a Pyramid II

Use a WHILE loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""
i = 1
max_ = 9

while i < 10:
  diff = int((max_ - i) / 2)
  spaces = [" "] * diff
  stars = ["*"] * i
  i = i + 2
  print("".join(spaces) + "".join(stars) + "".join(spaces))

    *
   ***
  *****
 *******
*********



### P5.PY

In [10]:
"""
Build a Diamond I

Use a FOR loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""
max_ = 9

for i in range(1, 10, 2):
  diff = int((max_ - i) / 2)
  spaces = [" "] * diff
  stars = ["*"] * i
  print("".join(spaces) + "".join(stars) + "".join(spaces))
for i in range(9, 0, -2):
  diff = int((max_ - i) / 2)
  spaces = [" "] * diff
  stars = ["*"] * i
  print("".join(spaces) + "".join(stars) + "".join(spaces))

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

### P6.PY

In [11]:
"""
Build a Diamond II

Use a WHILE loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

while i < 10:
  diff = int((max_ - i) / 2)
  spaces = [" "] * diff
  stars = ["*"] * i
  i = i + 2
  print("".join(spaces) + "".join(stars) + "".join(spaces))

i = 9
while i > 0:
  diff = int((max_ - i) / 2)
  spaces = [" "] * diff
  stars = ["*"] * i
  i = i - 2
  print("".join(spaces) + "".join(stars) + "".join(spaces))

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

## LOOP_CHALLENGES

### P1.PY

In [13]:
"""
Valid Passwords
"""

# Check the validity of password input by users based on the below security requirements: At least 1 letter between [a-z] and 1 letter between [A-Z].
"""
# At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
"""


# Hint: Look up the documentation for the "re" library and it's ".search()" method.

# p = input("Input your password: ")


grades = {}
unique_names = []
count = 2
for i in names:
  if i in unique_names:
     i = i + str(count)
     count += 1
  unique_names.append(i)
  idx = unique_names.index(i)
  grades.update({i:scores[idx]})
print(grades)

NameError: ignored

ERROR! Session/line number was not unique in database. History logging moved to new session 59



### P2.PY

In [14]:
"""
Prime Numbers I
"""

# Check if a number input by a user is prime or not. If it is NOT a prime number, print out that it is not a prime number. If it IS a prime number, print out that it is a prime number and give an example of two of its factors. Hint: Prime numbers must be greater than 1.

# Example of output for a NON-prime:
# 12 is not a prime number
# For example, 2 x 6 = 12



# user_input = input("Enter a number to check if it's prime: ")


user_input = int(input("Enter a number to check if it's prime: "))

holder = []

if user_input > 1:
  for i in range(2, user_input):
    if (user_input % i) == 0:
      print(f'{user_input} "is not a prime number')
      break
else:
  print(f'{user_input} is a prime number')

Enter a number to check if it's prime: 2